.button {
    -fx-background-color: #335c81, linear-gradient(#335c81, #274060);
    -fx-background-radius: 5px;
    -fx-background-insets: 0;
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.4), 5, 0.0, 0, 1);
    -fx-font: 14px "Roboto";
    -fx-text-fill: white;
    -fx-padding: 5 15 5 15;
}

.button:hover {
    -fx-background-color: #4a5f7a, linear-gradient(#4a5f7a, #3e5468);
}

.text-field {
    -fx-min-width: 200;
    -fx-padding: 5 5 5 5;
    -fx-border-color: #ffc857;
    -fx-border-width: 0 0 3 0;
    -fx-background-color: #f5f3f1;
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.4), 3, 0.0, 0, 1);
}

.text-field:focused {
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.4), 7, 0.0, 0, 1);
}

.toggle-switch {
    -fx-font: 14px "Roboto";
    -fx-padding: 5 5 5 5;
}

.toggle-switch .thumb-area {
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.2), 0.2, 0.0, 0.0, 2);
    -fx-fill: #ffc857;
}

.label {
    -fx-font-family: "Roboto";
}

#toggleBox {
    -fx-padding: 35 10 0;
}

.toggle-switch:selected .thumb-area {
    -fx-background-color: #ffc857;
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.2), 0.2, 0.0, 0.0, 2);
}

#closestRoad {
    -fx-font-size: 12px;
    -fx-background-color: white;
    -fx-background-radius: 5px;
    -fx-padding: 5 10 5;
}

#zoomDisplay {
    -fx-font-size: 12px;
    -fx-font-weight: bold;
    -fx-padding: 0 19 10;
}

.menu-bar {
    -fx-background-color: #2b2b2b, linear-gradient(#2b2b2b, black);
    -fx-border-width: 0 0 1 0;
    -fx-border-color: #f2a359;
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.4), 4, 0.0, 0, 1);
}

.menu-bar .label {
    -fx-font-family: "Roboto";
    -fx-text-fill: white;
}

.menu-bar .menu-button:hover, .menu-bar .menu-button:focused, .menu-bar .menu-button:showing {
    -fx-background: #f2a359;
    -fx-text-fill: white;
}

.menu-item {
    -fx-text-fill: white;
    -fx-background: darkgray;
}

.menu-item .label {
    -fx-text-fill: black;
}

.menu-item .label:hover {
    -fx-text-fill: white;
}
